# Compiled class file
*.class

# Log file
*.log
/my_db/*

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
target/*
/test-output/*
/src/main/resources/result.txt

# IDEA
.idea/*
.idea/workspace.xml
TaxiStation.iml
/target/
/bin/

# DB output
/my_db/

